<div class="bootstrap-wrapper">
	<div class="container">
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-6 offset-md-3">
					<img src="../../../assets/home.png">
				</div>
		</div>
	</div>
</div>