<div class="bootstrap-wrapper">
	<div class="container">
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-6 offset-md-3">
				<mat-card>
					<div class="container text-center">
					<img src="../../../assets/logo1.png" >
				</div>
				<h1 class="text-center">Login</h1>	
			
				<form (ngSubmit)="formSubmit()">
					<!-- Username field -->
					<mat-form-field class="full-width" appearance="outline">
    					<mat-label>User Name</mat-label>
    					<input
						[(ngModel)]="loginData.username"
						name="username"
    					required
    					matInput placeholder="Placeholder"
    					/>
    				<mat-hint>Username must be unique </mat-hint>
  					</mat-form-field>

					<!-- Password field -->
					<mat-form-field class="full-width" appearance="outline">
    					<mat-label>Password</mat-label>
    					<input
						 [(ngModel)]="loginData.password"
						 name="password"
    					 required
    					 type="Password" 
    					 matInput placeholder="Placeholder"/>
  					</mat-form-field>  



  					<div class="container text-center">
  						  <button type="submit" mat-raised-button class="sign-up-button admin-color">Login</button>
  						   <button style="margin-left: 20px;" class="admin-color1" mat-raised-button>Reset</button>
  					</div>    					     					  										
				</form>
				</mat-card>
				</div>
		</div>
	</div>
</div>